
.wow link {
    text-decoration: none;
}

.wow visited {
    text-decoration: none;
    color:#1F7872
}

.wow hover {
    text-decoration: none;
    color:pink
}

.wow active {
    text-decoration: underline;
}