{% load staticfiles %}
{% include 'mynavbar.html' %}

<link rel="icon" href="{% static 'img/jp.png' %}" type="image/png" sizes="16x16">
<link href="{% static 'css/jcpstats.css' %}" rel="stylesheet">
<link href="{% static 'css/plottable.css' %}" rel="stylesheet">
<style>
    body {
    background-color: #101010;
}

@font-face {
    font-family: 'Blender'; /*a name to be used later*/
    src: url("{% static 'font/blender.ttf' %}"); /*URL to font*/
}

</style>
<script src="{% static 'js/jquery.js' %}"></script>

</br>
</br>
</br>
</br>
<div class="blender"> News</div>

<div class="markfont">
    <marquee behavior="scroll" scrollamount="10" bgcolor="#303030" loop="-1" width="100%">   
            {% for k,v in clean.iteritems %}
            {{ k }} : {{ v }}  &nbsp &nbsp
            {% endfor %}
    </marquee> 
</div>

<div class= "articles">
    <div class="row">
        <div class="col-6">
            <div class= "compfont">
            Bloomberg
            </div>
            <div class= "orfont">
            {% for k,v  in stats.iteritems %}
            - <a href="{{ v }}">{{ k }}</a>
            </br>
            {% endfor %}
            </div>


            <div class= "compfont">
            CNN
            </div>
            <div class= "orfont">
            {% for k ,v in cnn.iteritems %}
            -<a href="{{ v }}">{{ k }}</a> </br>
            {% endfor %}
            <!--{{ stats }}-->
            </div>


        </div>
        <div class="col-6">
            <div class= "compfont">
            BBC
            </div>
            <div class= "orfont">
            {% for k ,v in bbc.iteritems %}
            -<a href="{{ v }}">{{ k }}</a> </br>
            {% endfor %}
            <!--{{ stats }}-->
            </div>
            <div class= "compfont">
            Times
            </div>
            <div class= "orfont">
            {% for k ,v in times.iteritems %}
            -<a href="{{ v }}">{{ k }}</a> </br>
            {% endfor %}
            <!--{{ stats }}-->
            </div>
        </div>
       
    </div>
</div>

