{% load staticfiles %}
<link rel="icon" href="{% static 'img/jcp.png' %}" type="image/png" sizes="16x16">
<link href="{% static 'css/sidenav.css' %}" rel="stylesheet">
<div class="sidenav">
   
    <ul>
        <li><img src="{% static 'img/qw.png' %}"  style="width:50px;height:50px;margin-left:20px;"></li>
        <li><a href="{% url 'kinetic' %}">Kinetic</a></li> 
        <li><a href="{% url 'potential' %}">Potential</a></li> 
        <li><a href="{% url 'home' %}">Lambda</a></li> 
        <li><a href="{% url 'home' %}">Fermi</a></li> 

    </ul>
</div>
 
 <style>
.pad{
    margin-left:500px;
}

</style>