{% load staticfiles %}

<link rel="icon" href="{% static 'img/jp.png' %}" type="image/png" sizes="16x16">
<link href="{% static 'css/lagrangian.css' %}" rel="stylesheet">

<style>
    body {
   // background-color: #102010;
    background: #102010;
    background: -webkit-linear-gradient(left top, #0A1A0A, #102010); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0A1A0A, #102010); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0A1A0A, #102010); /*  Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#000000,  #102010); /* Standard */
     margin: 0;

}
@font-face {
    font-family: 'Blender'; 
    src: url("{% static 'font/blender.ttf' %}");
}
</style>



<div class="row" style="padding-bottom:200px;">
    
        <div class= "innerblender centeralign" style="margin-bottom:10px">
            Fermi Archive
           
        </div>
        <div class="col-4">
        
    </div>
    

    <div class="col-4">
        <div class= "formula centeralign"> F
            </div>
        <div class= "innerdescript">
            
            <span class= "lagrangian centeralign">Fermi</span> Public Data Archive</br>
            All data must be synchronized.
            </br> 
            
            </br>
            <div class="opensource centeralign">Lagrangian is open source and will always be.</div>
            </br>
            <div style="text-align: center;">
                <a href="{% url 'archive' %}">
            <button class="wowbutton" type='submit' name='button1' value='save' > Data Archive </button></a>
            </div>
            
        </div>
    </div>
    <div class="col-4">
        
    </div>
</div>